<!DOCTYPE html>
<html>
<head>
<title></title>
<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			<div class="form-group col-sm-2">
				<input type="text" class="form-control" v-model="q.nickName" @keyup.enter="query" placeholder="账户昵称">
			</div>
			<a class="btn btn-default" @click="query">查询</a>

			<#if shiro.hasPermission("sys:account:save")>
				<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("sys:account:update")>
				<a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("sys:account:delete")>
				<a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
			<div class="form-group">
				<div class="col-sm-2 control-label">账户昵称</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" v-model="account.nickName" placeholder="账户昵称" readonly/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">性别</div>
				<label class="radio-inline">
					<input type="radio" name="gender" value="1" v-model="account.gender" disabled/> 男
				</label>
				<label class="radio-inline">
					<input type="radio" name="gender" value="2" v-model="account.gender" disabled/> 女
				</label>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">手机号</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="account.phoneNumber" placeholder="手机号" readonly/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">地址</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="account.permanentResidence" placeholder="常住地址" readonly/>
			    </div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">状态</div>
				<label class="radio-inline">
					<input type="radio" name="status" value="1" v-model="account.status"/> 启用
				</label>
				<label class="radio-inline">
					<input type="radio" name="status" value="2" v-model="account.status"/> 禁用
				</label>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<script src="${request.contextPath}/statics/js/modules/qd/account.js"></script>
</body>
</html>