<!DOCTYPE html>
<html>
<head>
    <title>欢迎页</title>
    <#include "/header.html">
</head>
<body>
<div class="panel">
    <div style="padding: 10px 0 20px 10px;">
        <h3 id="title">&nbsp;&nbsp;&nbsp;欢迎登录共享纸巾机后台管理系统</h3>
        <div id="content" style="padding: 10px 20px;"></div>
    </div>
</div>
<!--<script type="text/javascript">
    $(function(){
        $.get(baseURL + "sys/sysconsole/info/1", function(r){
            if(r.code == 0) {
                $("#title").text(r.sysConsole.title);
                $("#content").html(r.sysConsole.content);
            }
        });
    });
</script>-->
</body>
</html>