<!DOCTYPE html>
<html>
<head>
<title>用户车辆信息</title>
    <#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<!--<div class="grid-btn">
			<a v-if="hasPermission('sys:usercarinfo:save')" class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			<a v-if="hasPermission('sys:usercarinfo:update')" class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			<a v-if="hasPermission('sys:usercarinfo:delete')" class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
		</div>-->
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
											<div class="form-group">
			   	<div class="col-sm-2 control-label">用户ID</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="userCarInfo.userId" placeholder="用户ID"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">车辆品牌</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="userCarInfo.carBrand" placeholder="车辆品牌"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">车辆型号</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="userCarInfo.carModel" placeholder="车辆型号"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">车辆颜色</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="userCarInfo.carColor" placeholder="车辆颜色"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">车牌号</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="userCarInfo.licencePlateNum" placeholder="车牌号"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">审核状态,0 未审核，1不通过，2 通过</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="userCarInfo.auditStatus" placeholder="审核状态,0 未审核，1不通过，2 通过"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">创建时间</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="userCarInfo.createTime" placeholder="创建时间"/>
			    </div>
			</div>
							<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>
<script src="${request.contextPath}/statics/plugins/jquery.form.js"></script>
<script src="${request.contextPath}/statics/js/modules/sys/usercarinfo.js?_${.now?long}"></script>
</body>
</html>