<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dlc.modules.api.dao.DeviceConsumeTotalMapper" >
  <resultMap id="BaseResultMap" type="com.dlc.modules.api.entity.DeviceConsumeTotal" >
    <constructor >
      <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="deviceNo" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="deviceImei" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="freePaperTotal" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="payPaperTotal" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="gzhLikeTotal" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="createTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, deviceNo, deviceImei, freePaperTotal, payPaperTotal, gzhLikeTotal, createTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from device_consume_total
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from device_consume_total
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.dlc.modules.api.entity.DeviceConsumeTotal" >
    insert into device_consume_total (id, deviceNo, deviceImei, 
      freePaperTotal, payPaperTotal, gzhLikeTotal, 
      createTime)
    values (#{id,jdbcType=BIGINT}, #{deviceNo,jdbcType=VARCHAR}, #{deviceImei,jdbcType=VARCHAR}, 
      #{freePaperTotal,jdbcType=INTEGER}, #{payPaperTotal,jdbcType=INTEGER}, #{gzhLikeTotal,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.dlc.modules.api.entity.DeviceConsumeTotal"  keyProperty="id" useGeneratedKeys="true">
    insert into device_consume_total
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="deviceNo != null" >
        deviceNo,
      </if>
      <if test="deviceImei != null" >
        deviceImei,
      </if>
      <if test="freePaperTotal != null" >
        freePaperTotal,
      </if>
      <if test="payPaperTotal != null" >
        payPaperTotal,
      </if>
      <if test="gzhLikeTotal != null" >
        gzhLikeTotal,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="deviceNo != null" >
        #{deviceNo,jdbcType=VARCHAR},
      </if>
      <if test="deviceImei != null" >
        #{deviceImei,jdbcType=VARCHAR},
      </if>
      <if test="freePaperTotal != null" >
        #{freePaperTotal,jdbcType=INTEGER},
      </if>
      <if test="payPaperTotal != null" >
        #{payPaperTotal,jdbcType=INTEGER},
      </if>
      <if test="gzhLikeTotal != null" >
        #{gzhLikeTotal,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dlc.modules.api.entity.DeviceConsumeTotal" >
    update device_consume_total
    <set >
      <if test="deviceNo != null" >
        deviceNo = #{deviceNo,jdbcType=VARCHAR},
      </if>
      <if test="deviceImei != null" >
        deviceImei = #{deviceImei,jdbcType=VARCHAR},
      </if>
      <if test="freePaperTotal != null" >
        freePaperTotal = #{freePaperTotal,jdbcType=INTEGER},
      </if>
      <if test="payPaperTotal != null" >
        payPaperTotal = #{payPaperTotal,jdbcType=INTEGER},
      </if>
      <if test="gzhLikeTotal != null" >
        gzhLikeTotal = #{gzhLikeTotal,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dlc.modules.api.entity.DeviceConsumeTotal" >
    update device_consume_total
    set deviceNo = #{deviceNo,jdbcType=VARCHAR},
      deviceImei = #{deviceImei,jdbcType=VARCHAR},
      freePaperTotal = #{freePaperTotal,jdbcType=INTEGER},
      payPaperTotal = #{payPaperTotal,jdbcType=INTEGER},
      gzhLikeTotal = #{gzhLikeTotal,jdbcType=INTEGER},
      createTime = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="query" resultType="java.util.HashMap" parameterType="map" >
    select
    <include refid="Base_Column_List" />
    from device_consume_total
    <where>
      <if test="createTime != null" >
        and TO_DAYS(createTime) = TO_DAYS(#{createTime})
      </if>
      <if test="deviceNo != null" >
        and deviceNo = #{deviceNo}
      </if>
    </where>
    ORDER BY createTime DESC
    <if test="offset != null and limit != null">
      limit #{offset}, #{limit}
    </if>
  </select>


  <select id="queryCount" parameterType="map" resultType="int">
    SELECT COUNT(1)
    from device_consume_total
    <where>
      <if test="createTime != null" >
        and TO_DAYS(createTime) = TO_DAYS(#{createTime})
      </if>
      <if test="deviceNo != null" >
        and deviceNo = #{deviceNo}
      </if>
    </where>
  </select>

  <select id="queryTotal" resultType="java.util.HashMap" >
    select
    (sum(a.freePaperTotal)+sum(a.payPaperTotal)) paperTotal,
    sum(a.freePaperTotal) freePaperTotal,
    sum(a.payPaperTotal) payPaperTotal,
    sum(a.gzhLikeTotal) gzhLikeTotal
    from device_consume_total a,agent_device_relation b
    <where>
      a.deviceNo = b.deviceNo
      <if test="createTime != null" >
        and TO_DAYS(a.createTime) = TO_DAYS(#{createTime})
      </if>
      <if test="agentId != null" >
        and b.agentId = #{agentId}
      </if>
      <if test="opsId != null" >
        and b.opsId = #{agentId}
      </if>
    </where>
  </select>

  <select id="queryObjectToday" resultType="com.dlc.modules.api.entity.DeviceConsumeTotal" parameterType="com.dlc.modules.api.entity.DeviceConsumeTotal" >
    select
    <include refid="Base_Column_List" />
    from device_consume_total
    WHERE
    TO_DAYS(createTime) = TO_DAYS(now()) and deviceNo = #{deviceNo}
  </select>

  <update id="updateTotal" parameterType="com.dlc.modules.api.entity.AgentDeviceRelation" >
    update device_consume_total
    <set >
      <if test="freePaperTotal != null" >
        freePaperTotal = freePaperTotal + #{freePaperTotal,jdbcType=INTEGER},
      </if>
      <if test="payPaperTotal != null" >
        payPaperTotal = payPaperTotal + #{payPaperTotal,jdbcType=INTEGER},
      </if>
      <if test="gzhLikeTotal != null" >
        gzhLikeTotal = gzhLikeTotal + #{gzhLikeTotal,jdbcType=INTEGER},
      </if>

    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>